    <div class="todo-container" align="center" class="row-fluid">
        <header class="header" align="center">
            <h2>To Do List</h2>
        </header>
        <div class="row-fluid">
            <div class="span10 offset1">
                <ul class="todo-list">
                    <li class="headerRow">
                        <div class="column-1">Name</div>
                        <div class="column-2">Status</div>
                        <div class="column-3">Target Date</div>
                        <div class="column-4">Actual Date</div>
                        <div class="column-5">Action</div>
                    </li>
                    
                    <li class="newRow">
                    	<form name="newForm" action="#">
                        <div class="column-1"><input type="text" placeholder="What needs to be done?" value="" class="task-name-input-field"></div>
                        <div class="column-2"><select></select></div>
                        <div class="column-3"><input type="text" placeholder="mm/dd/yyyy" value="" class="task-date-field"></div>
                        <div class="column-4">&nbsp;</div>
                        <div class="column-5"><button class="btn">Add</button></div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    
        <footer style="clear:both;padding:20px 0;" align="center">
        About
        </footer>
    </div>