<div class="column-1 {{#if isSortedByTaskName}}todo-sorted{{/if}}">Name</div>
<div class="column-2 {{#if isSortedByTaskStatus}}todo-sorted{{/if}}">Status</div>
<div class="column-3 {{#if isSortedByTargetCompletionDate}}todo-sorted{{/if}}">Target Date</div>
<div class="column-4 {{#if isSortedByActualCompletionDate}}todo-sorted{{/if}}">Actual Date</div>
<div class="column-5">Action</div>