<div class="items">
<ul class="todo-list">
{{#each this}}
    <li class="display-row">
        <div class="column-1">{{todoName}}</div>
        <div class="column-2">{{getStatus}}</div>
        <div class="column-3">{{formattedTargetCompletionDate}}</div>
        <div class="column-4">{{formattedActualCompletionDate}}&nbsp;</div>
        <div class="column-5"> </div>
    </li>
{{/each}}
</ul>
</div>